.header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 0px 0px 12px 12px;


  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80px;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 200px;
      min-width: 200px;
      font-size: 28px;
    }

    .links {
      width: 80%;

      display: flex;
      flex-direction: row;
      justify-content: end;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 18px;
        border-radius: 5px;
        border: none;
        text-decoration: none;
        padding: 0px 14px;

        &:hover {
          text-decoration: underline
        }
      }
    }

    .socialButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 20px;
      height: 30px;
      padding: 4px 8px;
      border: unset;
      background-color: rgba(49, 58, 133, 0.623);
      border-radius: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline
      }

      img {
        width: 22px;
        height: 22px;
      }

      mark {
        background-color: unset;
      }
    }

    img {
      width: 36px;
      height: 36px;
    }
  }
}

.select {
  background-color: unset;
  color: inherit;
  border-radius: 6px;
  padding: 6px;

  option {
    color: white;
    background-color: #141A28;
    padding: 6px;
  }
}