$global-palette1: #09be8b;
$global-palette2: #fb4e4e;
$global-palette3: #ffffff;
$global-palette4: #2d3748;
$global-palette5: #cdcfd4;
$global-palette6: #a6a6a6;
$global-palette7: #104441;
$global-palette8: #1e2738;
$global-palette9: #141a28;
$global-palette10: #141a28;
